.header{
    display: flex;
    align-items: center;
    height: 8%;
    background-color: #006400 ;
    gap: 6%;
    padding-left: 2%;
}
.header__logo{
    color: white;
    font-size: 25px;
}
.header__links{
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: all ease-in-out .3s;
}
.header__links:hover{
    transform: scale(1.05);
}