@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html{
    width: 100%;
    overflow: hidden;
}
body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0; 
}

a{
    text-decoration: none;
}
.button{
    width: 130px;
    height: 40px;
    background-color: #006400;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    transition: all ease-in-out .2s;
    
}
.button:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: scale(1.05);
}
.button-disabled{
    width: 130px;
    height: 40px;
    background-color: white;
    color: rgb(155, 155, 155);
    border: solid 2px rgb(155, 155, 155) ;
    font-weight: bold;
    font-size: 20px;
    transition: all ease-in-out .2s;
}
.button-disabled:hover{
    cursor: not-allowed;
}