table{
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.24) 4px 0px 14px;
}
.table__containers{
  overflow-y: scroll;
}
thead{
    background-color: #006400;
    color: white;
}
td:hover{
    background-color: darkgray;
    color: white;
    font-weight: bolder;
}

.table tbody tr:nth-child(odd) {
  background-color: white;
  color: black;
  font-weight: bolder;
}

.table tbody tr:nth-child(even) {
  background-color: #61aa41;
  color: white;
  font-weight: bolder;
}

